.container__screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__screen>a, .info_content > a{
    text-decoration: none;
    color: #104d8c;
    font-size: calc(90vh * 12 / 500);
    margin-top: calc(90vh * 27 / 500);
}

.input__container {
    padding: calc(90vh * 4 / 500) calc(90vh * 8 / 500);
    background: white;
    border-radius: calc(90vh * 4 / 500);
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: calc(90vh * 8 / 500) 0;
    border: solid calc(90vh * 1.5 / 500) transparent;
}

.input__container>input {
    font-size: calc(90vh * 14 / 500) !important;
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
}

.input__container>input::placeholder {
    color: #a9a9a9;
    /* italicize */
    font-style: italic;
}

.input__container>i {
    font-size: calc(90vh * 14 / 500) !important;
    width: calc(90vh * 22 / 500);
    height: calc(90vh * 22 / 500);
    margin-right: calc(90vh * 5 / 500);
    display: flex;
    align-items: center;
    justify-content: center;
}

.input__container:focus-within {
    border-color: black;
}

.container__screen button {
    height: calc(90vh * 31 / 500);
    width: 100%;
    border: none;
    outline: none;
    background: #1e90ff;
    color: white;
    border-radius: calc(90vh * 4 / 500);
    font-size: calc(90vh * 14 / 500);
    font-weight: 600;
    cursor: pointer;
}

.btn-delete {
    border: solid calc(90vh * 1.5 / 500) #ff0000 !important;
    background: none !important;
    margin-top: calc(90vh * 18 / 500);
    padding: 0 calc(90vh * 18 / 500);
}

.info_user {
    margin-top: calc(90vh * 18 / 500);
    font-size: calc(90vh * 12 / 500);
}

.error__container li {
    list-style: none;
    font-size: calc(90vh * 10 / 500);
    margin-bottom: calc(90vh * 8 / 500);
    color: red;
}
