{% extends 'base.html.twig' %}

{% block title %}Edit Abomistar{% endblock %}

{% block leftScreen %}
    <h1>Edit Abomistar</h1>

    {{ include('abomistar/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_abomistar_index') }}">back to list</a>

    {{ include('abomistar/_delete_form.html.twig') }}
    {{ parent() }}
{% endblock %}
