{% extends 'base.html.twig' %}

{% block title %}New Abomistar{% endblock %}

{% block leftScreen %}
<div class="container__screen">
    <h2>Create new Abomistar</h2>

    {{ include('abomistar/_form.html.twig') }}

    <a href="{{ path('app_home_index') }}">back to home</a>
</div>
{% endblock %}
